<h1>Medicamentos</h1>
<p class="lead">Página de exemplo sobre medicamentos.</p>
<div class="row">
  <div class="col-md-4">
      <pre class="card card-block card-header">Medicamento: {{asyncSelected | json}}</pre>
      <input [(ngModel)]="asyncSelected"
             [typeahead]="dataSource"
             typeaheadOptionsLimit="7"
             typeaheadOptionField="nome"
             placeholder="Digite o nome do medicamento"
             class="form-control">
  </div>
  <div class="col-md-8">
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID </th>
          <th class="text-center">NOME </th>
          <th class="text-center">Princípios Ativos </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of medicamentos;">
          <td>{{m.id}}</td>
          <td>{{m.nome}}</td>
          <td>{{m.principios_ativos_anvisa.toString()}}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        <button [disabled]="!previousUrl" (click)="toPrevious()" class="btn btn-primary pull-left">Anterior</button>
        <button [disabled]="!nextUrl" (click)="toNext()" class="btn btn-primary pull-right">Próximo</button>
      </div>
    </div>
  </div>
</div>